@font-face {
    font-family: 'Circula-std', sans-serif;
    src: url('fonts/Circula-Medium.eot');
    src: local('Circula Medium'), local('Circula-Medium'),
        url('fonts/Circula-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Circula-Medium.woff2') format('woff2'),
        url('fonts/Circula-Medium.woff') format('woff'),
        url('fonts/Circula-Medium.ttf') format('truetype'),
        url('fonts/Circula-Medium.svg#Circula-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}