body {
    font-family: 'Circula-std', sans-serif;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

@media screen and(min-width: 992px) {
    .pl-lg-70 {
        padding-left: 4.5rem !important;
    }
    .ml-35 {
        margin-left: 35px;
    }
}


.mb-30 {
    margin-bottom: 30px;
}


.p-26-30 {
    padding: 26px 0px 26px 30px;
}