@import './variables';

@media screen and(min-width: 1200px) {
    body {
        height: 100vh;
    }
}

@media screen and(max-width: 992px) {
    .navbar-light .navbar-toggler {
        border-color: transparent;
        height: 40px;
        width: 40px;
        padding: 0;
        display: flex;
        border: none;
        outline: none;
        flex-direction: column;
        align-items: flex-end;
        cursor: pointer;

        span {
            width: 40px;
            margin: 4px;
            height: 4px;
            background-color: $white;
            transition: all 0.3s linear;

            &:nth-child(2) {
                width: 30px;
            }
        }
    }

    .navbar .navbar-nav-active {
        height: 100vh;
        opacity: 0.8;
        transition: all 0.5s ease-in-out;
    }

    .main-conten .custom-nav .search-filter ul {
        width: 90%;
    }

    .navbar .Burgeractive .line1 {
        transform: rotate(-45deg) translate(-13px, 10px);
        background: $lightGreen;
    }

    .navbar .Burgeractive .line2 {
        z-index: 99999;
        opacity: 0;
    }

    .navbar .Burgeractive .line3 {
        transform: rotate(45deg) translate(-6px, -5px);
        background: $lightGreen;
    }

    .toggler-icon {
        width: 40px;
        margin: 4px;
        height: 4px;
        background-color: $white;
        transition: all 0.3s linear;
    }

    .main-conten .movie-content .poster-box {
        max-height: 850px;
        display: flex;
        justify-content: center;

        img {
            width: auto;
        }
    }

    .movie-bg .bg-section .aside {
        bottom: 50%;
        height: 100%;
        width: 100%;
        transform: translateY(-50%);
    }

    .movie-bg .bg-section .bg-poster {
        top: 50%;
    }

    .navbar-collapse {
        background: rgba($black, 0.2);
        padding: 10px 30px;
        z-index: 9999;
    }

    .main-conten .custom-nav .navbar-collapse input {
        width: 90%;
    }

    .mt-md-10 {
        margin-top: 10rem;
    }
}

@media screen and(max-width: 776px) {
    .form-inline {
        flex-direction: column;
    }

    .main-conten .custom-nav .navbar-collapse input {
        height: 38px;
        font-size: 20px;
    }

    .main-conten .custom-nav .search-filter ul li {
        padding: .75rem 3.6rem .75rem 1.25rem;
        font-size: 14px;
    }

}

@media screen and(max-width: 576px) {
    .main-conten .custom-nav .search-filter ul {
        left: 0;
    }
}