//colors

$white: #fff;
$darkerWhite: #ece0da;
$black: #000;
$lightBlack: #0f1011; 
$orange: #ee6c02;
$lightOrange: #e98402;
$green: #00755e;
$lightGreen: #41b883;
$lightGrey: #888888;
$darkerGrey: #736862;
$lightBordo: #bca79c;
$darkgrey: #a9a9a9;
$slateGrey: #708090;