@import './global';
@import './fonts';
@import './variables';
@import './animation';




.movie-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;

    .bg-section {
        .bg-poster {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;

            .bg-cover {
                height: 100%;
                width: 100%;
                background-color: rgba($white, 0.9);
            }
        }

        .aside {
            position: absolute;
            top: 0;
            bottom: 0;
            height: auto;
            display: flex;
            align-items: center;
            background-color: $orange;

            .aside-bg {
                width: 100%;
                height: 80%;
                background-image: url('../../img/aside-bg.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: left center;
            }
        }
    }
}




.main-conten {
    /* position: absolute;
    top: 0;
    left: 0;
    right: 0; */
    padding: 70px 0 170px 0;

    .custom-nav {
        max-height: 64px;

        .search-filter {
            position: relative;

            .search-list {
                display: none;
            }

            ul {
                z-index: 9999;
                position: absolute;
                right: 0;
                top: 50px;
                left: 24px;
                border-left: 3px solid $orange;
                overflow-y: scroll;
                overflow-x: hidden;
                height: auto;
                max-height: 295px;

                &::-webkit-scrollbar {
                    width: 0.5rem;
                }

                &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 6px rgba($black, 0.3);
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $darkgrey;
                    outline: 1px solid $slateGrey;
                    border-radius: 10px;
                }

                .list-group-item.active {
                    background: $lightGreen;
                    color: $white;
                    border-color: transparent;
                    animation-name: ripple;
                    border: $lightGreen solid 3px;
                }

                li {
                    position: relative;
                    cursor: pointer;
                    color: $lightOrange;
                    background: rgba($white, 0.9);

                    span {
                        height: 35px;
                        width: 45px;
                        border-radius: 4px;
                        display: block;
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    &:hover {
                        background: $lightGreen;
                        outline: none;
                        color: $white;
                    }
                }
            }
        }

        .navbar-collapse .search-icon {
            /* Style for "search" */
            width: 30px;
            height: 30px;
            background-image: url('../../img/search.png');
            background-repeat: no-repeat;
            background-position: center;
            border: none;
            background-color: transparent;

        }

        .navbar-collapse input {
            height: 46px;
            outline: none;
            box-shadow: none;
            color: lightBordo;
            font-size: 30px;
            font-weight: 400;
            line-height: 100px;
        }
    }

    .movie-content {
        margin-top: 90px;

        .title {
            color: $black;
            font-size: 42px;
            font-weight: 500;
        }

        .poster-box {
            overflow: hidden;
            height: 100%;
            max-height: 715px;
            box-shadow: 0 50px 100px rgba($black, 0.09);
            border-radius: 13px;
            object-fit: cover;

            img {
                height: 100%;
                width: 100%;
            }

        }

        .quote {
            background-image: url('../../img/brcketts.png');
            background-repeat: no-repeat;
            background-position: top right;
            border-left: 4px solid;
            border-left-color: $orange;
            padding: 0 30px 0 24px;
            color: $orange;
            font-size: 24px;
            font-weight: 400;
            margin: 40px 0;
        }

        .overview {
            color: $darkerGrey;
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            padding: 0;
            margin: 0;
        }

        .movie-states {
            margin: 40px 0 60px 0;
            height: 60px;

            .movie-popular {
                width: 50%;
                display: flex;
                justify-content: flex-start;
                height: inherit;

                .score-box {
                    width: 60px;
                    height: 60px;
                    text-align: center;
                    border-radius: 10px;
                    background-color: $lightOrange;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 60px;
                    color: $white;
                }

                .score-titles {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-left: 25px;

                    .sub-tiltle {
                        color: $darkerGrey;
                        ;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 30px;
                        text-transform: uppercase;
                    }

                    .rating {
                        color: $darkerGrey;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 30px
                    }

                    .imdb {
                        color: $darkerGrey;
                        font-size: 18px;
                        font-weight: 700;
                        line-height: 30px;

                        span {
                            /* Text style for "From" */
                            color: $lightBordo;
                            ;
                            ;
                            font-family: "Circular Std - Book";
                            font-weight: 400;
                        }
                    }
                }

                .trend-img {
                    display: flex;
                    align-items: center;
                    width: 30px;
                    height: auto;
                    object-fit: contain;
                }

                .movie-popularity {
                    color: $lightGrey;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 30px;
                    text-transform: uppercase;
                }
            }
        }

        .moreInfo {
            .title {
                color: $darkerWhite;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                padding-bottom: 8px;
            }

            .genres {
                float: left;
                display: block;
                color: $white;
                font-weight: 600;
                padding: 0 5px;


            }

            .text {
                display: flex;
                padding-top: 10px;
                color: $white;
                font-size: 20px;
                font-weight: 700;
                line-height: 30px;

                span {
                    margin-left: 10px;
                }

                .icons {
                    display: inline-block;

                    i {
                        color: $darkerWhite;
                        font-size: 20px;
                    }
                }

            }
        }

        .ganre {
            height: 100px;
            border-radius: 10px;
            background-color: $black;

            .box-bg {
                height: 100%;
                width: 100%;
                background-image: url('../../img/ganre.png');
                background-repeat: no-repeat;
                background-position: top right;
            }
        }

        .runtime {
            height: 100px;
            border-radius: 10px;
            background-color: $orange;

            .box-bg {
                height: 100%;
                width: 100%;
                background-image: url('../../img/runtime.png');
                background-repeat: no-repeat;
                background-position: top right;
            }
        }

        .box-office {
            height: 100px;
            border-radius: 10px;
            background-color: $green;

            .box-bg {
                height: 100%;
                width: 100%;
                background-image: url('../../img/box-office.png');
                background-repeat: no-repeat;
                background-position: top right;
            }
        }

        .vote {
            height: 100px;
            border-radius: 10px;
            background-color: $lightBordo;

            .box-bg {
                height: 100%;
                width: 100%;
                background-image: url('../../img/rating.png');
                background-repeat: no-repeat;
                background-position: top right;
            }
        }
    }
}




@import './responsive';